*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven ignore
target/

#ecplise ignore
.setting/
.project
.classpath


#idea
.idea/
/idea
*.ipr
*.iml
*.iwr

#tmp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system file
.DS_Store
Thumbs.db

